<div mat-dialog-content>
    <div style="display: flex;flex-direction: column;font-size: 70%;">

        <div style="display: flex;justify-content: space-between;align-items: center;">
            <div style="display: flex;align-items: center;">
                <div style="margin-right: -20px;">
                    <img width="45%" [src]="urlBuildImage('logo.png')" alt="Reservaciones Exclusivas | Reservándonos" itemprop="logo">
                </div>
                <div>
                    <h1>CANJE DE PUNTOS</h1>
                </div>
            </div>
            <div style="font-size: 21px;" (click)="closeDialog()">
                X
            </div>
        </div>
        <h2 style="margin-bottom: 0px;">¡Felicidades!</h2>

        <ng-container *ngIf="data.bonusCodePoints >= 500">
            <h3 style="margin-top: 0px;">Haz canjeado {{data.bonusCodePoints}} puntos en esta reservación,(${{data.bonusCodePoints}}.00).</h3>
        </ng-container>

        <p>Recuerda que:</p>

        <p>-Los puntos son redimibles durante un año desde el día que se hacen válidos</p>

        <p>-Tus puntos se veran en tu cuenta antes de que acabe el mes natural de tu reserva</p>

        <p>-1 punto es igual a 1 peso</p>

        <div style="display: flex;justify-content: center;">
            <button mat-button color="warn" style="color: #eb3f58;background-color: white;font-weight: bold;" (click)="closeDialog()">Aceptar</button>
        </div>

    </div>
</div>
