// .container {
//   padding: 5px;
//   font-family: Omnes, "Helvetica Neue", sans-serif;
// }
.button-table {
    width: 98px;
    margin: 0.5em;
}

.form-stripe {
 margin: 1em;
}

.err-stripe {
  font-size: 0.65em;
  margin-left: 1em;
  margin-top: 0.2em;
}

.input-stripe-custom, .checkout-card input, .InputElement {
    border: 1px solid #efefef;
    padding: 8px 1.3em;
    font-family: Omnes, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    width: calc(100% - 16px);
    outline: none;

    &::placeholder {
        color: lightgray;
    }
}

.img-card {
    width: 45px;
}

.label-input {
  position: fixed;
  margin-top: -0.5em;
  font-size: 0.7em;
  margin-left: 2em;
  color: gray;
  background: white;
}

/*::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}
::ng-deep  input.mat-input-element {
  color: white;
}*/

.width-box {
    width: 94%;
    margin: auto;
    h5 {
        margin: 0;
    }
}

.title-suggestion {
    text-align: center;
    color: #6d6c6c;
}

div[fxLayout="column"]>div[fxFlex] {
    flex: 1 0 auto !important;
}

.detail-line {
    margin: 0.2em;
}

.p-detail {
    text-align: justify;
    text-justify: inter-word;
    font-size: 0.9em;
}

.height-custom {
    // height: 4.5em !important;
}

.mat-form-field {
    font-size: 0.9em !important;
    mat-icon {
        margin-right: 0.4em;
    }
}

 ::ng-deep .mat-form-field-infix {
    width: auto !important;
}

.font-size-custom {
    font-size: 0.9em;
}

.image {
    width: 50%;
}

.legend {
    font-size: 13px;
    text-align: center;
    color: #7d7b7b;
}

.prefixed {
    margin-right: 5px;
}

.calendar {
    cursor: pointer;
    .suffixed {
        mat-icon {
            font-size: 24px;
        }
    }
}

.sentEmailLabel {
    text-align: center;
}

.no-margin-top {
    margin-top: 0;
}

// No interference styles
 ::ng-deep {
    input[type="text"],
    input[type="email"] {
        &.mat-input-element {
            border: none;
            padding: 0;
        }
    }
    button[type="button"] {
        &.mat-raised-button>span,
        &.mat-mini-fab>span {
            color: #fff;
        }
    }
}

.greenButton_WRes {
    background-color: green!important;
}

.iniText_WRes {
    color: red;
    cursor: pointer;
}

.contNotSesion {
    display: flex;
    justify-content: center;
    text-align: center;
}

.txtaWR {
    resize: none;
}
