<form fxFlex *ngIf="form && (placeURL || groupBusinessURL || groupBusinessId)" class="container" (ngSubmit)="onSubmit()" [formGroup]="form" [className]="theme">

    <div *ngIf="step=='loading'" style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;background-color: black;opacity: 0.5;align-items: center;display: flex;align-items: center;justify-content: center;">
        <mat-spinner></mat-spinner>
    </div>

    <mat-card *ngIf="step=='onlineDisabled'" style="margin: 15px; display: flex;flex-direction: column;align-items: center;" formGroupName="reservation">
        <!-- [fxFlex]="widgetBasic ? 32 : 32" -->
        <mat-form-field *ngIf="viewList" floatLabel="always" appearance="outline" fxFlex style="width: 100%;">
            <mat-icon matPrefix class="prefixed">business</mat-icon>
            <mat-label>Sucursal</mat-label>
            <mat-select placeholder="Selecionar otra sucursal..." formControlName="sucursal" (selectionChange)="changeSucursal($event); enabledSuggestions();" [compareWith]="compareHoursObjects">
                <mat-option *ngFor="let item of arrayPlaces" [value]="item.place"> {{ item.place.name }} </mat-option>
            </mat-select>
        </mat-form-field>
        <span *ngIf="loading" fxLayout="row" fxLayoutAlign="center">
          <mat-spinner color="primary" diameter="25" class="mr-5"></mat-spinner>
          &nbsp;
          Cargando...
        </span>
        <p>Por el momento <span style="font-weight: bold;">{{place.name}}</span> no está tomando reservas automáticas</p>
        <p>Para reservar, por favor llama al número:</p>
        <a href="{{'tel:' + place.phone}}" mat-raised-button color="accent">{{place.phone}}</a>
        <p style="font-weight: bold;">¡Gracias!</p>
    </mat-card>

    <form class="form-stripe" *ngIf="formNewCreditCardStripe" [formGroup]="formNewCreditCardStripe" (submit)="payWithStripeNewCard()">
      <div class="input">
        <label class="label-input">Nombre de Tarjeta</label>
        <div id="cardName">
          <input type="text" placeholder="Carlos Perez" class="input-stripe-custom" formControlName="cardName">
        </div>
      </div>
      <br>
      <div class="input">
        <label class="label-input">Número de Tarjeta</label>
        <div id="cardStripe"></div>
        <mat-error class="err-stripe" *ngIf="formNewCreditCardStripe?.get('cardNumber')?.errors?.card">
          {{formNewCreditCardStripe?.get('cardNumber')?.errors.card.message}}
        </mat-error>
      </div>
      <br>
      <div class="input">
        <label class="label-input">cvc</label>
        <div id="cvcStripe"></div>
      </div>
      <br>
      <div class="input">
        <label class="label-input">Fecha de expiración</label>
        <div id="expStripe"></div>
      </div>
      <br>
      <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center" style="margin-top: 10px">
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
            <mat-icon>lock</mat-icon>
            <label>Paga Seguro Con:</label>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
            <img [src]="getImg('visa.svg')" alt="card visa" class="img-card">
            <img [src]="getImg('mastercard.svg')" alt="card visa" class="img-card">
            <img [src]="getImg('maestro.svg')" alt="card visa" class="img-card">
        </div>
      </div>
      <button mat-raised-button  color="accent" type="submit" class="btn-pay"
              [disabled]="formNewCreditCardStripe.invalid || paying">
          Pagar
      </button>
    </form>

    <div *ngIf="step === 'reservation'" fxLayoutGap="2%" formGroupName="reservation" style="padding: 1em;">
        <div *ngIf="showTitle">
            <h1 style="font-family: Arial, Helvetica, sans-serif;">Reserva en {{place?.name}}</h1>
        </div>

        <div fxLayout fxLayout.xs="row wrap" fxLayoutGap="2%">
            <!-- [fxFlex]="widgetBasic ? 32 : 32" -->
            <mat-form-field *ngIf="viewList" floatLabel="always" appearance="outline" fxFlex>
                <mat-icon matPrefix class="prefixed">business</mat-icon>
                <mat-label>Sucursal</mat-label>
                <mat-select placeholder="Selecione una sucursal" formControlName="sucursal" [compareWith]="compareHoursObjects" (selectionChange)="changeSucursal($event); enabledSuggestions();">
                    <mat-option *ngFor="let item of arrayPlaces" [value]="item.place"> {{ item.place.name }} </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- [fxFlex]="widgetBasic ? viewList ? 32 : 49 : viewList ? 32 : 32"  -->
            <mat-form-field floatLabel="always" appearance="outline" class="calendar" fxFlex>
                <mat-icon matPrefix class="prefixed">event</mat-icon>
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="datepicker" (keydown)="false" readonly [min]="minDate" [max]="maxDate" [matDatepickerFilter]="dateFilter" placeholder="Fecha de reservación" (dateChange)="onDateChange(); enabledSuggestions();" (click)="datepicker.open()"
                    formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="datepicker" class="suffixed">
                    <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>

            <!-- [fxFlex]="widgetBasic ? viewList ? 32 : 49 : viewList ? 32 : 32" -->
            <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                <mat-icon matPrefix class="prefixed">access_time</mat-icon>
                <mat-label>Hora</mat-label>
                <mat-select placeholder="Hora" formControlName="time" (selectionChange)="onTimeChange(); enabledSuggestions();">
                    <mat-option *ngFor="let time of times" [value]="time.minute">{{time.format}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('reservation').get('time').errors?.required">Ingrese la hora de reservación</mat-error>
            </mat-form-field>

            <!-- [fxFlex]="viewList ? 22 : 32"  -->
            <mat-form-field floatLabel="always" appearance="outline" *ngIf="!widgetBasic && !viewList" fxFlex>
                <mat-icon matPrefix class="prefixed">people</mat-icon>
                <mat-label>Personas</mat-label>
                <mat-select placeholder="Personas" formControlName="peopleCount" (selectionChange)="onPeopleCountChange()">
                    <mat-option *ngFor="let i of maxPeopleReservations | regularFor:1" [value]="i">{{i}}</mat-option>
                </mat-select>
                <mat-error>Ingrese el número de personas</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout fxLayout.xs="row wrap" fxLayoutGap="2%">
            <!-- [fxFlex]="widgetBasic && !viewList ? 49 : 32"  -->
            <mat-form-field floatLabel="always" appearance="outline" *ngIf="widgetBasic && !viewList || viewList" fxFlex>
                <mat-icon matPrefix class="prefixed">people</mat-icon>
                <mat-label>Personas</mat-label>
                <mat-select placeholder="Personas" formControlName="peopleCount" (selectionChange)="onPeopleCountChange()">
                    <mat-option *ngFor="let i of maxPeopleReservations | regularFor:1" [value]="i">{{i}}</mat-option>
                </mat-select>
                <mat-error>Ingrese el número de personas</mat-error>
            </mat-form-field>

            <!-- [fxFlex]="widgetBasic && !viewList ? 49 : 32" -->
            <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                <mat-icon matPrefix class="prefixed">smoking_rooms</mat-icon>
                <mat-label>Área</mat-label>
                <mat-select placeholder="Área" formControlName="area" (selectionChange)="onAreaChange()">
                    <mat-option value="ANY" *ngIf="smokeArea">Cualquiera</mat-option>
                    <!-- <mat-option value="SMOKE" *ngIf="smokeArea">Fumar</mat-option> -->
                    <mat-option value="NO_SMOKE">No fumar</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- [fxFlex]="widgetBasic && !viewList ? 32 : 49" -->
            <mat-form-field floatLabel="always" appearance="outline" *ngIf="!widgetBasic" fxFlex>
                <mat-icon matPrefix class="prefixed">dashboard</mat-icon>
                <mat-label>Zona</mat-label>
                <mat-select placeholder="Zona" formControlName="zoneId" (selectionChange)="loadSmartTables()">
                    <mat-option [value]="0">Cualquiera</mat-option>
                    <mat-option *ngFor="let s of filteredServiceZones" [value]="s.zone.id">{{ s.zone.name }}</mat-option>
                </mat-select>
                <mat-error>Seleccione la zona</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="2%" *ngIf="!widgetBasic">
            <!-- fxFlex="49" -->
            <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                <mat-icon matPrefix class="prefixed">widgets</mat-icon>
                <mat-label>Forma de la mesa</mat-label>
                <mat-select placeholder="Forma de la mesa" formControlName="tableTypeId" (selectionChange)="loadSmartTables()">
                    <mat-option [value]="0">Cualquiera</mat-option>
                    <mat-option [value]="1">Cuadrada</mat-option>
                    <mat-option [value]="2">Rectangular</mat-option>
                    <mat-option [value]="3">Redonda</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- fxFlex="49" -->
            <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                <mat-icon matPrefix class="prefixed">text_fields</mat-icon>
                <mat-label>Altura de la mesa</mat-label>
                <mat-select placeholder="Altura de la mesa" formControlName="tableHeightId" (selectionChange)="loadSmartTables()">
                    <mat-option [value]="0">Cualquiera</mat-option>
                    <mat-option [value]="1">Alta</mat-option>
                    <mat-option [value]="2">Baja</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="column wrap" fxLayoutGap="2%">
            <button type="button" mat-raised-button color="primary" [disabled]="(!selectedTableGroup && !planFree) || placeBlockFree || times.length == 0 || loading" (click)="onReservationStep()">
              <span *ngIf="loading" fxLayout="row" fxLayoutAlign="center">
                <mat-spinner color="primary" diameter="25" class="mr-5"></mat-spinner>
                &nbsp;
                Cargando...
              </span>
              <span *ngIf="!loading">Reservar</span>
            </button>
            <!-- <span class="legend">Por disposición oficial las mesas de más de 4 personas deberán mantener una distancia de 1.5mts</span> -->
            <span *ngIf="!selectedTableGroup && !planFree && placeId" class="legend">Sin disponibilidad, por favor seleccione otros parametros o registrese en la lista de espera.</span>
            <div *ngIf="!selectedTableGroup && !planFree && place">
                <p style="color: #7d7b7b; text-align: justify; font-size: 0.9em;">Te informamos que {{place.name}} no aceptará reservás online para los días {{ daysLock.length > 0 ? daysLock.join(',') : 'selecionados' }}. Puedes llamar a la sucursal o presentarte directo en el lugar.</p>
                <div style="width: 60%; margin: auto; text-align: center;">
                    <a href="{{'tel:' + place.phone}}" mat-raised-button color="primary">{{place.phone}}</a>
                </div>
            </div>
            <!-- <button *ngIf="!selectedTableGroup && !planFree && place" type="button" mat-raised-button color="primary" (click)="onReservationStep(true)">Entrar en la lista de espera</button> -->

            <!-- <div *ngIf="suggestion.length > 0">
  <div class="width-box">
    <div *ngFor="let item of suggestion">
      <div *ngIf="item.isToday && item.response.hours.length > 0">
        <h5>Horarios para hoy <i>({{ item.response.date }})</i></h5>
        <button *ngFor="let elem of item.response.hours" class="button-table" mat-stroked-button color="primary" (click)="selectDate(elem, true)"> {{ elem.displayHour }} </button>
      </div>
      <div *ngIf="!item.isToday">
        <h5>Otros días</h5>
        <button *ngFor="let elem of item.response" class="button-table" mat-stroked-button color="primary" (click)="selectDate(elem, false)"> {{ elem.date }} </button>
      </div>
    </div>
  </div>
</div> -->
        </div>
    </div>

    <!-- fxLayout="column" fxLayout.gt-xs="row"  -->
    <div *ngIf="step === 'customer'" fxLayoutGap="2%" formGroupName="customer" style="padding: 1em;">
        <div style="display: flex;justify-content: center;">
            <button type="button" mat-mini-fab (click)="goToStep('reservation')"><mat-icon>arrow_back</mat-icon></button>
        </div>
        <mat-tab-group>
            <mat-tab label="Tus datos">
                <br>
                <!-- fxFlex.gt-xs="49"  fxLayout="column" fxLayoutGap="2%"-->
                <div fxLayout="column" fxLayoutGap="2%">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-icon matPrefix class="prefixed">person</mat-icon>
                        <mat-label>Nombre</mat-label>
                        <input type="text" matInput placeholder="Nombre" formControlName="fullname">
                        <mat-error>Ingrese el nombre completo</mat-error>
                    </mat-form-field>
                    <div class="height-custom" fxFlex="grow" fxLayoutGap="2%">
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                            <mat-label>Código del país</mat-label>
                            <img matPrefix [src]="getFlag()" alt="" style="margin-right: 0.5em;" width="20" height="20">
                            <mat-select placeholder="Código del pais" formControlName="countryCode">
                                <mat-option style="padding: 1em; width: 100%;">
                                    <ngx-mat-select-search formControlName="ladasFilter" placeholderLabel="Buscar..."
                                                           noEntriesFoundLabel="No se encontraron resultados">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let countryCode of getCountries()" [value]="countryCode.code">
                                    <img matPrefix [src]="getFlagByISO(countryCode?.iso)" alt="" style="margin-right: 0.5em;" width="20"
                                         height="20">
                                    {{countryCode.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Ingrese el código</mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                            <mat-label>Teléfono</mat-label>
                            <input type="text" matInput placeholder="Teléfono" formControlName="phone" (change)="setValidators()">
                            <mat-error *ngIf="form.get('customer').get('phone').errors?.required">Ingrese el teléfono</mat-error>
                            <mat-error *ngIf="form.get('customer').get('phone').errors?.minLength">El número debe tener mínimo 6 carácteres</mat-error>
                        </mat-form-field>
                    </div>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-icon matPrefix class="prefixed">email</mat-icon>
                        <mat-label>Correo</mat-label>
                        <input type="email" matInput placeholder="Correo electrónico" formControlName="email" (change)="setValidators()">
                        <mat-error *ngIf="form.get('customer').get('email').errors?.required">Ingrese el correo electrónico</mat-error>
                        <mat-error *ngIf="form.get('customer').get('email').errors?.email">El correo electrónico es inválido</mat-error>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-icon matPrefix class="prefixed">comment</mat-icon>
                        <mat-label>Comentarios</mat-label>
                        <textarea class="txtaWR" matInput placeholder="Comentarios" formControlName="notes"></textarea>
                    </mat-form-field>

                    <ng-container *ngIf="sessionCustomer && showProfile == 'true'">
                        <div style="display: flex;justify-content: center;">
                            <div style="display: flex;flex-direction: column;align-items: center;">
                                <div style="text-align: center;">
                                    <p>¿No eres tú?</p>
                                    <p style="cursor: pointer!important;color: red;" (click)="changeDisabled()">Modificar información</p>
                                </div>
                                <div style="display: flex;justify-content: center;width: 100%;">
                                    <p>¿Quieres canjear tus puntos?</p>
                                </div>
                                <div style="display: flex;justify-content: center;">
                                    <input type="text" matInput formControlName="codeToRedeemW" style="border: dashed;border-width: 2px; color: #7d7b7b; padding: 6px;text-align: center;" placeholder="Ingresa tu código aquí">
                                </div>
                                <div style="display: flex;justify-content: center;margin: 10px;width: 100%;">
                                    <button (click)="checkStatusCode()" type="button" mat-raised-button style="background-color: #2b8117;">Canjear</button>
                                </div>
                                <div style="display: flex;justify-content: center;width: 100%;margin: 10px;flex-wrap: wrap;">
                                    <div>
                                        <div>Con esta reservación obtendrás 50 puntos.</div>
                                    </div>
                                    <div (click)="openHowToDialog()">
                                        <div style="color: #eb3f58;cursor:pointer">Descubre como canjearlos.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="!sessionCustomer && showProfile == 'true'">
                        <div style="display: flex;justify-content: center;width: 100%;margin: 10px;flex-wrap: wrap;">
                            <div>
                                <div>Con esta reservación obtendrás 50 puntos.</div>
                            </div>
                            <div (click)="openHowToDialog()">
                                <div style="color: #eb3f58;cursor:pointer">Descubre como canjearlos.</div>
                            </div>
                        </div>
                    </ng-container>


                    <button type="button" mat-raised-button color="primary" class="greenButton_WRes" [disabled]="form.get('customer').invalid" (click)="onCustomerStep()">Confirmar reservación</button>
                    <!-- <button type="button" mat-raised-button color="warn" (click)="goToStep('reservation')">Cancelar</button> -->
                </div>
            </mat-tab>
            <mat-tab label="Datos de reserva">
                <!-- fxFlex.gt-xs="40" -->
                <!-- <div fxLayout="column" fxLayoutGap="10px"> -->
                <div fxLayout="column" fxLayoutGap="10px" class="font-size-custom" style="padding: 10px; align-items: center;">
                    <h3>Detalles:</h3>
                    <br>

                    <div>{{ place.name }}</div>
                    <div *ngIf="viewPayment == 'cancelation'"> Reserva con política de cancelación </div>
                    <div *ngIf="viewPayment == 'advance'"> Reserva con anticipo </div>
                    <!-- <div>Fecha de: {{form.value.reservation.date | momentFormat:'dddd, D [es] MMMM [es] YYYY'}}</div> -->
                    <div>Fecha: {{form.value.reservation.date | momentFormat:'dddd, D MMMM YYYY'}}</div>
                    <div>Hora: {{form.value.reservation.time | minutesToTime | momentFormat:'HH:mm'}}</div>
                    <div>Personas: {{form.value.reservation.peopleCount}}</div>
                    <div>Área: {{getAreaName(form.value.reservation.area)}}</div>

                    <ng-container *ngIf="bonusCodePoints >= 500 && isActiveCode == 1 && sessionCustomer && showProfile == 'true'">
                        <br>
                        <div style="border: dashed;border-width: 2px;color: red;padding: 6px;text-align: center;">
                            <p style="color: black;margin: 0px;">Has canjeado <b>{{bonusCodePoints}}</b> puntos en tu reservación. (<b>${{bonusCodePoints}}.00</b>)</p>
                        </div>

                        <div style="text-align: center;">
                            ¡Felicidades! ahora tienes acceso a la cuponera digital de Coca-Cola A la Orden donde obtendrás grandes descuentos en las siguientes visitas y tarjetas de regalo digitales que duplican tu inversion
                        </div>
                    </ng-container>

                    <ng-container *ngIf="bonusCodePoints == 0 && isActiveCode == 0 && !sessionCustomer && showProfile == 'true'">
                        <br>

                        <div style="text-align: center;">
                            ¡Felicidades! ahora tienes acceso a la cuponera digital de Coca-Cola A la Orden donde obtendrás grandes descuentos en las siguientes visitas y tarjetas de regalo digitales que duplican tu inversion
                        </div>
                    </ng-container>


                    <div *ngIf="!widgetBasic">Zona: {{getZoneName(form.value.reservation.zoneId)}}</div>
                    <div *ngIf="!widgetBasic">Forma de la mesa: {{getTableTypeName(form.value.reservation.tableTypeId)}}</div>
                    <div *ngIf="!widgetBasic">Altura de la mesa: {{getTableHeightName(form.value.reservation.tableHeightId)}}</div>
                    <!-- <div>Mesa(s) asignada(s): {{selectedTableGroup.numbers}}</div> -->
                    <div *ngIf="domainReservandonos && place && coca" style="text-align: center; padding: 20px;">
                        <p style="text-align: center; max-width: 728px;"><em><strong>¡Felicidades!</strong></em> Ahora tienes acceso a la cuponera digital de Coca-Cola A la Orden donde obtendrás grandes descuentos en las siguientes visitas y tarjetas de regalo digitales que duplican tu inversión.</p>
                        <a href="https://alaorden.coca-cola.com.mx/cuponeras-digitales.php">
                            <img style="max-width: 100%;" src="https://reservandonos-cdn.s3.us-west-2.amazonaws.com/icons/banner.jpg" alt="promo coca cola">
                        </a>
                    </div>
                </div>
                <!-- </div> -->
            </mat-tab>
        </mat-tab-group>
    </div>

    <div *ngIf="step === 'payment'" fxLayoutGap="2%" formGroupName="payment" style="padding: 1em;">
        <button type="button" mat-mini-fab (click)="goToStep('customer')"><mat-icon>arrow_back</mat-icon></button>
        <mat-tab-group>
            <mat-tab label="Agregar tarjeta">
                <div formGroupName="card" fxLayoutGap="2%">
                    <div fxLayout="column">
                        <mat-card fxLayout="column" fxLayoutGap="10px" fxFlex class="font-size-custom">
                            <h3 *ngIf="viewPayment == 'cancelation'">Política de cancelación</h3>
                            <h3 *ngIf="viewPayment == 'advance'">Reserva con anticipo</h3>
                            <br>
                            <div *ngIf="viewPayment == 'cancelation'">
                                Debido a que tu reservación es mayor o igual a {{ place?.numberPersonPolicyCancellation }} personas se aplicará un cargo de {{place?.cancellationFeePerPerson | currency:'$'}} pesos por persona en caso de no asistir a tu reservación.
                            </div>

                            <div *ngIf="viewPayment == 'advance'">
                                Debido a que tu reservación es mayor o igual a {{ place?.advancePaymentPolicyNumberPeople }} personas se aplicará un anticipo de {{place?.advancePaymentPolicyFeePerPerson | currency:'$'}} pesos por persona para confirmar tu reservación.
                            </div>

                            <div *ngIf="viewPayment == 'cancelation'">Cargo por no asistir: {{ charge | currency:'$'}}</div>
                            <div *ngIf="viewPayment == 'advance'">Anticipo: {{ charge | currency:'$' }}</div>
                        </mat-card>

                        <div fxLayout="column" style="padding: 1em;">
                            <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                                <mat-label>Nombre de la tarjeta</mat-label>
                                <input type="text" matInput placeholder="Nombre en tarjeta" formControlName="name">
                                <mat-error>Ingrese el nombre que aparece en la tarjeta</mat-error>
                            </mat-form-field>
                            <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                                <mat-label>Número de la tarjeta</mat-label>
                                <input type="text" matInput placeholder="Número de tarjeta" formControlName="number">
                                <mat-error *ngIf="form.get('payment').get('card').get('number').errors?.required">Ingrese el número de tarjeta</mat-error>
                                <mat-error *ngIf="!form.get('payment').get('card').get('number').errors?.required && form.get('payment').get('card').get('number').errors?.invalidCardNumber">El número de tarjeta es inválido</mat-error>
                            </mat-form-field>
                            <div fxFlex fxLayout.gt-xs="row" fxLayoutGap.gt-xs="2%">
                                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                                    <mat-label>Mes de exp.</mat-label>
                                    <input type="text" matInput placeholder="MM" formControlName="exp_month" (change)="onCardDateChange()">
                                    <mat-error *ngIf="form.get('payment').get('card').get('exp_month').errors?.required">Ingrese el mes de exp.</mat-error>
                                    <mat-error *ngIf="!form.get('payment').get('card').get('exp_month').errors?.required && form.get('payment').get('card').get('exp_month').errors?.invalidExpirationDate">El mes es inválido</mat-error>
                                </mat-form-field>
                                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                                    <mat-label>Año de exp.</mat-label>
                                    <input type="text" matInput placeholder="AA" formControlName="exp_year" (change)="onCardDateChange()">
                                    <mat-error *ngIf="form.get('payment').get('card').get('exp_year').errors?.required">Ingrese el año de exp.</mat-error>
                                    <mat-error *ngIf="!form.get('payment').get('card').get('exp_year').errors?.required && form.get('payment').get('card').get('exp_year').errors?.invalidExpirationDate">El año es inválido</mat-error>
                                </mat-form-field>
                                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                                    <mat-label>CVC</mat-label>
                                    <input type="text" matInput placeholder="CVC" formControlName="cvc">
                                    <mat-error *ngIf="form.get('payment').get('card').get('cvc').errors?.required">Ingrese el CVC</mat-error>
                                    <mat-error *ngIf="!form.get('payment').get('card').get('cvc').errors?.required && form.get('payment').get('card').get('cvc').errors?.invalidCvc">El CVC es inválido</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="column" style="padding: 1em;">
                            <mat-checkbox formControlName="acceptCancellationPolicy" #cp>Acepto la política de cancelación</mat-checkbox>
                            <mat-error *ngIf="form.get('payment').get('card').get('acceptCancellationPolicy').touched && !cp.checked">Es necesario aceptar la política de cancelación</mat-error>
                            <button type="button" mat-raised-button color="primary" class="greenButton_WRes" [disabled]="form.get('payment').invalid" (click)="onPaymentStep()">Reservar</button>
                            <mat-label *ngIf="err">{{ err }}</mat-label>
                        </div>
                    </div>
                </div>
                <img class="image" src="https://bookercontrol.com/widget/assets/pago.png" alt="" fxFlex="40" style="padding: 1em;">
            </mat-tab>

            <mat-tab label="Datos de reserva">
                <div fxLayout="column" fxLayoutGap="10px">
                    <mat-card fxLayout="column" fxLayoutGap="10px" fxFlex class="font-size-custom">
                        <h3>Detalles</h3>
                        <br>
                        <div>{{ place.name }}</div>
                        <div *ngIf="viewPayment == 'cancelation'"> Reserva con política de cancelación </div>
                        <div *ngIf="viewPayment == 'advance'"> Reserva con anticipo </div>
                        <div>Fecha: {{form.value.reservation.date | momentFormat:'dddd, D MMMM YYYY'}}</div>
                        <div>Hora: {{form.value.reservation.time | minutesToTime | momentFormat:'HH:mm'}}</div>
                        <div>Personas: {{form.value.reservation.peopleCount}}</div>
                        <div>Área: {{getAreaName(form.value.reservation.area)}}</div>
                        <div *ngIf="!widgetBasic">Zona: {{getZoneName(form.value.reservation.zoneId)}}</div>
                        <div *ngIf="!widgetBasic">Forma de la mesa: {{getTableTypeName(form.value.reservation.tableTypeId)}}</div>
                        <div *ngIf="!widgetBasic">Altura de la mesa: {{getTableHeightName(form.value.reservation.tableHeightId)}}</div>
                        <div>Nombre: {{form.value.customer.fullname}}</div>
                        <div>Teléfono: {{form.value.customer.countryCode}} {{form.value.customer.phone}}</div>
                        <div>Correo electrónico: {{form.value.customer.email}}</div>
                        <div>Comentarios: {{form.value.customer.notes}}</div>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div *ngIf="step === 'thanks'" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" style="padding-bottom: 30px;" style="padding: 1em;">
        <mat-card style="display: flex;flex-direction: column;" *ngIf="reservation.status === 'WAIT_LIST'">
            <h4>Detalles de la reservación</h4>
            <h5 class="no-margin-top" style="margin-top:0">Acabas de entrar en la LISTA DE ESPERA de {{place?.name}}.</h5>
            <p class="p-detail detail-line no-margin-top" style="margin-top:0">Vamos a hacer todo lo posible para conseguirte un lugar. En caso de una liberación de espacio nos comunicaremos de manera inmediata.</p>
        </mat-card>


        <ng-container *ngIf="reservation.status != 'WAIT_LIST'">
            <h2 style="font-size: 2em;color:red;text-align: center;">{{place.name}}</h2>
            <h4 style="line-height: unset; text-align: center;" class="detail-line">Tu reserva está {{ reservation.status === 'CONFIRMED' ? ' CONFIRMADA' : ' en PROCESO' }}</h4>
            <img id="res-img" src={{imgUrl}} style="height:60px;width:60px;" />

            <mat-card style="display: flex;flex-direction: column;padding: 20px;align-items: center;line-height: 1.8em;text-align: center;">
                <div *ngIf="viewPayment == 'cancelation'"> Reserva con política de cancelación </div>
                <div *ngIf="viewPayment == 'advance'"> Reserva con anticipo </div>
                <div><b>Fecha:</b> {{form.value.reservation.date | momentFormat:'dddd, D MMMM YYYY'}}</div>
                <div><b>Hora:</b> {{form.value.reservation.time | minutesToTime | momentFormat:'HH:mm'}}</div>
                <div><b>Personas:</b> {{form.value.reservation.peopleCount}}</div>
                <div><b>Área</b> {{getAreaName(form.value.reservation.area)}}</div>
                <div *ngIf="!widgetBasic"><b>Zona:</b> {{getZoneName(form.value.reservation.zoneId)}}</div>
                <div *ngIf="!widgetBasic">Forma de la mesa: {{getTableTypeName(form.value.reservation.tableTypeId)}}</div>
                <div *ngIf="!widgetBasic">Altura de la mesa: {{getTableHeightName(form.value.reservation.tableHeightId)}}</div>

                <div><b>Nombre:</b> {{form.value.customer.fullname}}</div>
                <div><b>Teléfono:</b> {{form.value.customer.countryCode}} {{form.value.customer.phone}}</div>
                <div><b>Correo electrónico:</b> {{form.value.customer.email}}</div>
                <div *ngIf="form.value.customer.notes"><b>Comentarios:</b> {{form.value.customer.notes}}</div>
            </mat-card>

            <p class="p-detail detail-line" *ngIf="reservation.status !== 'CONFIRMED'">Aproximadamente en 15 minutos recibirás un correo electrónico o alguno de nuestros representantes se pondrá en contacto contigo para confirmar tu reserva.</p>
            <p class="p-detail no-margin-top" style="margin-top:0">Se te ha enviado un correo electrónico con los detalles de tu reservación.</p>
        </ng-container>

        <div *ngIf="domainReservandonos && place && coca" style="text-align: center; width: 60%;">
            <img style="max-width: 100%; width: 70px;" src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/Coca-Cola_logo.png" alt="logo coca cola">
            <div style="padding-bottom: 1em;">
                <div style="position: relative; border-top: 1px dashed #cdcdcd;top: 0.9em;"></div>
                <button type="button" mat-raised-button color="primary" style="font-family: verdana; font-weight: bold; font-size: 1.2em;" (click)="downloadMenu()">Descargar Menú</button>
            </div>
        </div>

        <button type="button" mat-raised-button color="primary" (click)="onStepStart()">Hacer otra reserva</button>

        <div *ngIf="domainReservandonos && place && coca" style="text-align: center; padding: 20px;">
            <p style="text-align: center; max-width: 728px;"><em><strong>¡Felicidades!</strong></em> Ahora tienes acceso a la cuponera digital de Coca-Cola A la Orden donde obtendrás grandes descuentos en las siguientes visitas y tarjetas de regalo digitales que duplican tu inversión.</p>
            <a href="https://alaorden.coca-cola.com.mx/cuponeras-digitales.php">
                <img style="max-width: 100%;" src="https://reservandonos-cdn.s3.us-west-2.amazonaws.com/icons/banner.jpg" alt="promo coca cola">
            </a>
        </div>
    </div>

    <div *ngIf="step === 'err'" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" style="padding: 1em;">
        <h3 class="sentEmailLabel">No se puedo procesar la reserva</h3>
        <mat-card style="min-width: 90%;display: flex;flex-direction: column;align-items: center;">
            <h4 style="line-height: 1em;">Descripción del problema:</h4>
            <p>{{ msg }}</p>
            <button type="button" mat-raised-button color="primary" (click)="onStep('reservation')">Modificar reserva</button>
            <div style="height: 50px;"></div>
            <p>O si lo deseas, llama al número:</p>
            <a href="{{'tel:' + place.phone}}" mat-button color="accent">{{place.phone}}</a>
        </mat-card>
    </div>
</form>

<!-- <rsv-progress-spinner [displayProgressSpinner]="displayProgressSpinner"></rsv-progress-spinner> -->
