<div mat-dialog-content>

    <div style="display: flex;justify-content: space-between;align-items: center;">
        <div>
            <h4>ERROR!</h4>
        </div>
        <div style="font-size: 21px;" (click)="closeDialog()">
            X
        </div>
    </div>
    <div>
        <p>{{this.data.message}}</p>
    </div>

</div>
