<div mat-dialog-content>
    <div style="display: flex;flex-direction: column;font-size: 70%;">
        <div style="display: flex;justify-content: space-between;align-items: center;">

            <div style="display: flex;align-items: center;">
                <div style="margin-right: -20px;">
                    <img width="45%" [src]="urlBuildImage('logo.png')" alt="Reservaciones Exclusivas | Reservándonos" itemprop="logo">
                </div>
                <div>
                    <h2>¿COMO CANJEAR MIS PUNTOS?</h2>
                </div>
            </div>
            <div style="font-size: 21px;cursor: pointer;" (click)="closeDialog()">
                X
            </div>
        </div>
        <p>Tus puntos se almacenarán en "Mis puntos y bonificaciones" y se aplicarán automáticamente en tus próximas reservaciones o podrás acumularlos para utilizarlos en otra ocasión.</p>

        <p>Para canjear sus códigos:</p>

        <div style="display: flex;justify-content: flex-end;align-items: center;">
            <img style="width: 35px;height: auto;margin: 5px;" [src]="urlBuildImage('bandeja.svg')">
            <p>Selecciona alguno de los restaurantes participantes.</p>
        </div>


        <div style="display: flex;justify-content: flex-start;align-items: center;">
            <p>Inicia sesión y realiz tu reserva.</p>
            <img style="width: 35px;height: auto;margin: 5px;" [src]="urlBuildImage('calendario.svg')">
        </div>


        <div style="display: flex;justify-content: flex-end;align-items: center;">
            <img style="width: 35px;height: auto;margin: 5px;" [src]="urlBuildImage('porcentaje.svg')">
            <p>Canjea tus puntos por descuentos en tu cuenta.</p>
        </div><br>


        <a href="https://reservandonos.com/partners/sistemas-de-bonificacion/" target="_blank">
            <button type="button" mat-raised-button style="background-color: #eb3f58;">Obtener más información</button>
        </a>
    </div>


    <!-- <div style="display: flex;flex-direction: column;min-width: 30vw;margin: 15px;">
            <div>
                <br>
                <mat-form-field [style.width.%]="100" appearance="outline">
                    <mat-label>{{ t('tags') }}</mat-label>
                    <input matInput [(ngModel)]="tags" [value]="tags">
                </mat-form-field>
            </div>
            <div style="display: flex;justify-content: space-between;">
                <div>
                    <button mat-raised-button color="accent" (click)="closeDialog()">{{ t('cancel') }}</button>
                </div>
                <div>
                    <button mat-raised-button (click)="confirmed()" cdkFocusInitial>{{ t('save') }}</button>
                </div>
            </div>
        </div> -->
</div>
